<div class='row'>
  <div class='small-12 columns'>
    <h1>Welcome to CiTiWiFi</h1>

    <p>Your source for local Wifi locations</p>
    <img src="http://maps.googleapis.com/maps/api/staticmap?size=600x1100&markers=icon:http://goo.gl/3KRsr|40.734910,-73.988455|40.734328,-73.991185|40.706731,-74.0131|40.706731,-74.0131|40.70775,-74.01329|40.70837,-74.0140|40.70534,-74.01398|40.70534,-74.01398|40.705120,-74.01414|40.70762,-74.0107|40.70762,-74.0107|40.7390631,-73.990182|40.740517,-73.991487|40.741274,-73.990155|40.741274,-73.990155|40.740659,-73.98824|40.740659,-73.98824|40.730365,-73.95407|40.730365,-73.95407|40.730464,-73.953916|40.730464,-73.953916|40.730526,-73.954127|40.730526,-73.954127|40.758053,-73.98875|40.758053,-73.98875|40.7578778,-73.988680|40.7578778,-73.988680|40.7588687,-73.989033|40.7588687,-73.989033|40.758822,-73.988922|40.703306,-73.98779|40.703306,-73.98779|40.70437,-73.99007|40.70437,-73.99007|40.70270,-73.9909|40.714942,-73.94468|40.713645,-73.94793|40.713645,-73.94793|40.71432,-73.95167|40.71432,-73.95167|40.724235,-73.997784|40.724235,-73.997784|40.7242386,-73.997196|40.7242386,-73.997196|40.7413332,-74.005526|40.7413332,-74.005526|40.7416756,-74.004481|40.7416756,-74.004481|40.715682,-73.98739|40.721973,-73.987654|40.721973,-73.987654|40.722172,-73.98863|40.722172,-73.98863|40.722426,-73.987737|40.756153,-73.97082|40.756035,-73.970867|40.756035,-73.970867|40.756390,-73.970761|40.756390,-73.970761|40.756144,-73.97094|40.756144,-73.97094|40.752527,-73.967704&maptype=terrain&sensor=false" >

  </div>
</div>