<div class='row'>
	<div class='small-12 columns'>
		<h1>Show Page for <%= @hotspot.name %></h1>

		<h3>Info:</h3>
		Add hotspot info &amp; map here</p>
		<h3>Ratings</h3>
		<% if @ratings.nil? %>
			<p>There are no ratings but your code is working</p>
		<% else %>
			<%= render partial: '/ratings/index', locals: {object: @hotspot} %>
		<% end %>
	</div>
	<h3><%= @hotspot.name %>'s Ratings</h3>

	<%= render partial: '/ratings/new', locals: {object: @hotspot} %>
</div>