<nav class="top-bar">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1><%= link_to 'WiFiCiTi', root_path %></h1>
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Left Nav Section -->
    <ul class="left">
      <li class="divider"></li>
      <li><a href="#">Locate Me</a></li>
      <li class="divider"></li>
      <li><%= link_to 'Hotspot Directory', hotspots_path %></li>
      <li class="divider"></li>
      <li class='has-dropdown'><a>Users</a>
        <ul class='dropdown'>
          <li><%= link_to 'view users', users_path %></li>
          <li><%= link_to 'new user', new_user_path %></li>
        </ul>
      </li>
      <li class="divider"></li>
    </ul>

  </section>
</nav>